<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mamaapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MamaApp">
        <activity android:name=".DiagnosisResult"></activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".NotebookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LaborPreparationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HygieneActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AvoidancyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NutritionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DiagnosisActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelfCareActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WeeksActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>